<!DOCTYPE html>
<html>
<head>
  <title>Bomberman - Page d'accueil</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="container">
    <h1>Bomberman - Page d'accueil</h1>
    <form id="nicknameForm">
      <div class="form-group">
        <label for="nickname">Surnom :</label>
        <input type="text" id="nickname" name="nickname" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Commencer le jeu">
      </div>
    </form>
  </div>

  <script>
    document.getElementById("nicknameForm").addEventListener("submit", function(event) {
      event.preventDefault();
      var nickname = document.getElementById("nickname").value;
      // Fais quelque chose avec le surnom (par exemple, l'envoyer au serveur via WebSockets)
      console.log("Surnom : " + nickname);
      // Redirige vers la page d'attente ou effectue d'autres actions nécessaires
      // window.location.href = "waiting.html";
    });
  </script>
</body>
</html>
